/.metadata/
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.log
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/version.ini
~$instructions.xlsx
.metadata/.log
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/version.ini
*.xmi
*.ini
.metadata/.log
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/version.ini
simulator/.settings/language.settings.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
simulator/.settings/language.settings.xml
.metadata/version.ini
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.log
.metadata/version.ini
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.log
simulator/test_add.bin
simulator/test_add.res
simulator/test_add.s
simulator/test_addi.bin
simulator/test_addi.res
simulator/test_addi.s
simulator/test_and.bin
simulator/test_and.res
simulator/test_and.s
simulator/test_andi.bin
simulator/test_andi.res
simulator/test_andi.s
simulator/test_auipc.bin
simulator/test_auipc.res
simulator/test_auipc.s
simulator/test_beq.bin
simulator/test_beq.res
simulator/test_beq.s
simulator/test_bge.bin
simulator/test_bge.res
simulator/test_bge.s
simulator/test_bgeu.bin
simulator/test_bgeu.res
simulator/test_bgeu.s
simulator/test_blt.bin
simulator/test_blt.res
simulator/test_blt.s
simulator/test_bltu.bin
simulator/test_bltu.res
simulator/test_bltu.s
simulator/test_bne.bin
simulator/test_bne.res
simulator/test_bne.s
simulator/test_div.bin
simulator/test_div.res
simulator/test_div.s
simulator/test_divu.bin
simulator/test_divu.res
simulator/test_divu.s
simulator/test_ecall.bin
simulator/test_ecall.res
simulator/test_ecall.s
simulator/test_jal.bin
simulator/test_jal.res
simulator/test_jal.s
simulator/test_jalr.bin
simulator/test_jalr.res
simulator/test_jalr.s
simulator/test_lb.bin
simulator/test_lb.res
simulator/test_lb.s
simulator/test_lbu.bin
simulator/test_lbu.res
simulator/test_lbu.s
simulator/test_lh.bin
simulator/test_lh.res
simulator/test_lh.s
simulator/test_lhu.bin
simulator/test_lhu.res
simulator/test_lhu.s
simulator/test_li.bin
simulator/test_li.res
simulator/test_li.s
simulator/test_lui.bin
simulator/test_lui.res
simulator/test_lui.s
simulator/test_lw.bin
simulator/test_lw.res
simulator/test_lw.s
simulator/test_mul.bin
simulator/test_mul.res
simulator/test_mul.s
simulator/test_mulh.bin
simulator/test_mulh.res
simulator/test_mulh.s
simulator/test_mulhsu.bin
simulator/test_mulhsu.res
simulator/test_mulhsu.s
simulator/test_mulhu.bin
simulator/test_mulhu.res
simulator/test_mulhu.s
simulator/test_or.bin
simulator/test_or.res
simulator/test_or.s
simulator/test_ori.bin
simulator/test_ori.res
simulator/test_ori.s
simulator/test_random1.bin
simulator/test_random1.res
simulator/test_random1.s
simulator/test_random10.bin
simulator/test_random10.res
simulator/test_random10.s
simulator/test_random2.bin
simulator/test_random2.res
simulator/test_random2.s
simulator/test_random3.bin
simulator/test_random3.res
simulator/test_random3.s
simulator/test_random4.bin
simulator/test_random4.res
simulator/test_random4.s
simulator/test_random5.bin
simulator/test_random5.res
simulator/test_random5.s
simulator/test_random6.bin
simulator/test_random6.res
simulator/test_random6.s
simulator/test_random7.bin
simulator/test_random7.res
simulator/test_random7.s
simulator/test_random8.bin
simulator/test_random8.res
simulator/test_random8.s
simulator/test_random9.bin
simulator/test_random9.res
simulator/test_random9.s
simulator/test_rem.bin
simulator/test_rem.res
simulator/test_rem.s
simulator/test_remu.bin
simulator/test_remu.res
simulator/test_remu.s
simulator/test_sb.bin
simulator/test_sb.res
simulator/test_sb.s
simulator/test_sh.bin
simulator/test_sh.res
simulator/test_sh.s
simulator/test_sll.bin
simulator/test_sll.res
simulator/test_sll.s
simulator/test_slli.bin
simulator/test_slli.res
simulator/test_slli.s
simulator/test_slt.bin
simulator/test_slt.res
simulator/test_slt.s
simulator/test_slti.bin
simulator/test_slti.res
simulator/test_slti.s
simulator/test_sltiu.bin
simulator/test_sltiu.res
simulator/test_sltiu.s
simulator/test_sltu.bin
simulator/test_sltu.res
simulator/test_sltu.s
simulator/test_sra.bin
simulator/test_sra.res
simulator/test_sra.s
simulator/test_srai.bin
simulator/test_srai.res
simulator/test_srai.s
simulator/test_srl.bin
simulator/test_srl.res
simulator/test_srl.s
simulator/test_srli.bin
simulator/test_srli.res
simulator/test_srli.s
simulator/test_sub.bin
simulator/test_sub.res
simulator/test_sub.s
simulator/test_sw.bin
simulator/test_sw.res
simulator/test_sw.s
simulator/test_xor.bin
simulator/test_xor.res
simulator/test_xor.s
simulator/test_xori.bin
simulator/test_xori.res
simulator/test_xori.s
