/.metadata/
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.log
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/version.ini
~$instructions.xlsx
.metadata/.log
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/version.ini
*.xmi
*.ini
.metadata/.log
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/version.ini
simulator/.settings/language.settings.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
simulator/.settings/language.settings.xml
.metadata/version.ini
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.log
.metadata/version.ini
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.log
